@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'),
  url('../../assets/fonts/sf-pro-display_regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'),
  url('../../assets/fonts/sf-pro-display_light.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'),
  url('../../assets/fonts/sf-pro-display_semibold.woff2') format('woff2');
  font-weight: 600;
}