$mobileScreen: 767.98px;
$tabletScreen: 992px;
$laptopsScreen: 1200px;

@mixin mobile {
  @media (max-width: #{$mobileScreen})  {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobileScreen+0.2px}) and (max-width: #{$tabletScreen}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$tabletScreen+0.2px}) and (max-width: #{$desktopScreen}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktopScreen+0.02px}) {
    @content;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
