.description {
  padding-bottom: 2.5rem;
  .description-list {
    display: flex;
    background: rgba(178, 178, 178, 0.55);;
    &__item {
      padding: 1.5rem 2rem;
      &:hover{
        background: black;
        color: white;
      }
    }
  }
  .description-text{
    padding: 1rem 0;
    p {
      padding: 1.5rem 0;
    }
  }
}
@media only screen and (max-width: 768px) {
  .description {
    display: flex;
    width: 360px;
    flex-direction: column;
    .description-text{
     padding: 0 2rem;
      text-align: justify;
    }
    .description-list{
      visibility: hidden;
    }
  }
}